body{
  padding-bottom: 50px;
  margin-left: 50px;
  background: #ffffff url("https://www.plated.com/uploads/culinary/recipe_image/file/33539/hero_f0wlaGbQwOCTUjznJDzg_Carne_Asada_Sopes_with_Avocado-Corn_Salsa_and_Refried_Black_Beans___0017___HERO.jpg") no-repeat right top;
  max-width:1440px;
  max-height:1440px;
  background-attachment: fixed;
}
h1{
  font-family: 'Arimo', sans-serif;
  font-size: 40px;
  text-align: center;
  color: #FFF;
}

h2{
  font-family: 'Arimo', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #FFF;
}

h3{
  font-family: 'Arimo', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #FFF;
}


h4{
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
  padding-left: 80px;
  color: #FFF;
}


p{
  font-family: 'Arimo', sans-serif;
  font-size: 1.5em;
  color: #FFF;
}

div{
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #FFF;

}


#nav{
  /* border:1px solid black; */
  margin-right:auto;
  margin-left: auto;
  margin-bottom: 50px;
  padding: 10px;

  font-family: 'Arimo', sans-serif;
  font-size: 1.3em;

  text-align: left;
  max-width: 200px;
  color: #FFF;
}

.move_me_left{
  float:left;
  margin-right: 20px;
}

.move_me_right{
  float:right;
  margin-left: 20px;
}
